@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 940px;
  margin: 0 auto; }

.mishka {
  background-color: #51835d; }

.mishka__figure {
  margin: 0 auto;
  padding: 100px 0px; }

.mishka__head {
  width: 210px;
  height: 210px;
  position: relative;
  left: 40%;
  top: 50%; }
  .mishka__head:after {
    content: '';
    position: absolute;
    top: -84px;
    left: 0;
    width: 100%;
    height: 140%;
    background: #92806a;
    -webkit-border-radius: 80px 80px 0 0;
            border-radius: 80px 80px 0 0;
    -webkit-transform-origin: 55% 100%;
    -ms-transform-origin: 55% 100%;
    transform-origin: 55% 100%;
    -webkit-transform: perspective(700px) rotateX(30deg);
    -ms-transform: perspective(700px) rotateX(30deg);
    transform: perspective(700px) rotateX(30deg); }

.mishka__ear {
  height: 90px;
  width: 90px;
  background-color: #92806a;
  -webkit-border-radius: 100px;
          border-radius: 100px; }
  .mishka__ear_left, .mishka__ear_right {
    position: absolute; }
  .mishka__ear_left {
    top: -20px;
    left: -30px; }
    .mishka__ear_left:before {
      top: 20px;
      left: 27px; }
  .mishka__ear_right {
    top: -20px;
    right: -30px; }
    .mishka__ear_right:before {
      top: 22px;
      left: 23px; }
  .mishka__ear_left:before, .mishka__ear_right:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #e3e2b6;
    -webkit-border-radius: 100px;
            border-radius: 100px; }

.mishka__eye {
  width: 21px;
  height: 15px;
  -webkit-border-radius: 70%/70%;
          border-radius: 70%/70%;
  background-color: #000000; }
  .mishka__eye_left, .mishka__eye_right {
    position: absolute;
    z-index: 1;
    top: 60px; }
  .mishka__eye_left {
    left: 55px; }
  .mishka__eye_right {
    left: 135px; }
  .mishka__eye_left:before, .mishka__eye_right:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 2px;
    top: 4px;
    right: 5px;
    background-color: #ffffff;
    -webkit-border-radius: 100px;
            border-radius: 100px; }

.mishka__nose {
  position: absolute;
  left: 60px;
  top: 60px;
  z-index: 1;
  width: 90px;
  height: 110px;
  background-color: #e3e2b6;
  -webkit-border-radius: 50px 50px 30px 30px;
          border-radius: 50px 50px 30px 30px; }

.mishka__nosetip {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 50px;
  height: 40px;
  background-color: #000000;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .mishka__nosetip:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    top: 10px;
    right: 12px;
    background-color: #ffffff;
    -webkit-border-radius: 10px;
            border-radius: 10px; }

.mishka__nose-flang {
  position: absolute;
  z-index: -1;
  top: 30px;
  width: 40px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 7px solid #000000;
  -webkit-border-radius: 100%/50%;
          border-radius: 100%/50%;
  border-top-color: transparent; }
  .mishka__nose-flang_left {
    border-left-color: transparent;
    left: 8px; }
  .mishka__nose-flang_right {
    border-right-color: transparent;
    right: 8px; }

.flex {
  padding: 19px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 864px;
  background-color: #f3f3f3; }

.flex__element {
  width: 445px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 20px; }
  .flex__element:nth-child(1)::before {
    position: absolute;
    content: 'Хит продаж';
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 11px;
    text-align: center;
    width: 0;
    height: 0;
    right: 35px;
    top: -10px;
    border-width: 70px 37px 15px;
    border-style: solid;
    border-color: #35c6fd #35c6fd transparent; }
  .flex__element:nth-child(3)::before {
    position: absolute;
    content: 'Акция';
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 11px;
    text-align: center;
    width: 0;
    height: 0;
    right: 35px;
    top: -10px;
    border-width: 70px 37px 15px;
    border-style: solid;
    border-color: #f30543 #f30543 transparent; }
  .flex__element:nth-child(4)::before {
    position: absolute;
    content: 'Скидка 10%';
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 11px;
    text-align: center;
    width: 0;
    height: 0;
    right: 35px;
    top: -10px;
    border-width: 70px 37px 15px;
    border-style: solid;
    border-color: #f00643 #f00643 transparent; }

.flex__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 15px;
  color: #2d92be; }

.flex__details {
  padding: 20px 25px 30px; }

.flex__trip-details {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 11px;
  color: #595b58; }
  .flex__trip-details_bold {
    font-weight: bold;
    color: #252f60; }

.flex__price {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #252f60; }
  .flex__price_sale {
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
    text-decoration: line-through;
    color: #ececec; }
