body {
  font-family: 'PT Sans', sans-serif; }

.container {
  width: 960px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -2px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  background-color: #fcdb00;
  padding: 60px 0; }

.header .container {
  padding: 0px 10px 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none; }

.logo__text {
  margin-left: 10px; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  margin-left: 70px; }

.nav__link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none; }

.slider {
  margin-bottom: 110px;
  background-color: #fcdb00; }

.slider .container {
  padding: 0px 50px 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.slider__wrapper {
  overflow: hidden; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1500ms cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition: 1500ms cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition: 1500ms cubic-bezier(0.1, 0.1, 0.25, 0.9); }

.slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%; }

.slider__info {
  padding-top: 65px;
  width: 400px; }

.slider__text {
  margin: 0;
  padding: 0; }

.slider__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 32px; }

.slider__lead {
  display: block;
  margin-bottom: 25px;
  width: 310px;
  color: #313841;
  font-size: 20px; }

.slider__lorem-ipsum {
  display: block;
  margin-bottom: 45px;
  color: #555555;
  font-size: 16px; }

.platforms__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }

.platforms__item {
  margin-right: 38px; }
  .platforms__item_apple {
    width: 33px;
    height: 39px;
    background-image: url("/img/platform_apple.png"); }
  .platforms__item_android {
    width: 33px;
    height: 39px;
    background-image: url("/img/platform_android.png"); }
  .platforms__item_windows {
    width: 39px;
    height: 40px;
    background-image: url("/img/platform_windows.png"); }

.slider__img-wrapper {
  position: relative; }
  .slider__img-wrapper::before {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    left: 103px;
    top: 200px;
    background-image: url("/img/logo_yellow.png"); }
  .slider__img-wrapper::after {
    content: 'tinyone';
    position: absolute;
    top: 202px;
    right: 82px;
    color: #fcdb00;
    font-size: 30px;
    font-weight: 700; }

.slider__img {
  margin-left: 20px; }

.slider__buttons {
  margin: 0;
  padding: 54px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: #fcdb00; }

.slider__button {
  margin-right: 15px;
  padding-left: 5px;
  position: relative;
  cursor: pointer; }

.slider__radio + .radio-indication {
  position: absolute;
  width: 13px;
  height: 13px;
  top: -10px;
  left: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.6; }

.slider__radio:focus + .radio-indication {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.slider__radio:checked + .radio-indication {
  opacity: 1; }

.features {
  margin-bottom: 80px; }

.features__heading {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 32px;
  text-align: center; }

.features__lorem-ipsum {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  width: 760px;
  color: #313841;
  font-size: 20px;
  text-align: center; }

.features__list {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  border-top: 1px solid #000000; }

.features__item {
  padding-left: 90px;
  margin-bottom: 87px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px; }
  .features__item_mobile {
    background-image: url("/img/features_mobile.png");
    background-repeat: no-repeat;
    background-position: 22px 0; }
  .features__item_lemon {
    background-image: url("/img/features_lemon.png");
    background-repeat: no-repeat;
    background-position: 20px 0; }
  .features__item_folder {
    background-image: url("/img/features_folder.png");
    background-repeat: no-repeat;
    background-position: 20px 0; }
  .features__item_code {
    background-image: url("/img/features_code.png");
    background-repeat: no-repeat;
    background-position: 14px 2px; }
  .features__item_envelope {
    background-image: url("/img/features_envelope.png");
    background-repeat: no-repeat;
    background-position: 16px 4px; }
  .features__item_mark {
    background-image: url("/img/features_mark.png");
    background-repeat: no-repeat;
    background-position: 22px 0; }

.features__title {
  margin-bottom: 15px;
  display: block;
  font-size: 22px; }

.features__text {
  display: block;
  font-size: 16px;
  color: #898989; }

.subscribe {
  padding: 90px 0 90px 0;
  background-color: #000000; }

.subscribe__heading {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fcdb00;
  font-size: 32px;
  text-align: center; }

.subscribe__lorem-ipsum {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  width: 780px;
  color: #898989;
  font-size: 20px;
  text-align: center; }

.subscribe__form {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.subscribe__input {
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 580px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.subscribe__submit-button {
  padding: 16px;
  margin-left: 20px;
  width: 127px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fcdb00;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.social__list {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none; }

.social__item {
  width: 36px;
  height: 36px; }
  .social__item_facebook {
    background-image: url("/img/social_facebook.png"); }
  .social__item_twitter {
    background-image: url("/img/social_twitter.png"); }
  .social__item_google {
    background-image: url("/img/social_google.png"); }
  .social__item_pinterest {
    background-image: url("/img/social_pinterest.png"); }

.social__link {
  margin-right: 32px; }

.footer {
  padding: 40px 0 140px 0;
  background-color: #000000; }

.footer .container {
  padding-left: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__adress {
  margin: 0;
  margin-right: 90px;
  padding: 0;
  width: 220px;
  color: #ffffff; }

.footer__adress-data {
  display: block; }
  .footer__adress-data:first-child {
    text-transform: uppercase; }

.footer__list {
  margin: 0;
  padding: 0;
  width: 630px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none; }

.footer__item {
  margin-right: 80px;
  width: 80px; }
  .footer__item:nth-child(4n+4) {
    margin-right: 70px; }

.footer__link {
  color: #ffffff;
  text-decoration: none; }
