.header {
    background-color: $yellow;
    padding: 60px 0;
}

.header .container {
    padding: 0px 0px 0px 20px;
    // box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    display: flex;
    align-items: center;

    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.logo__text {
    margin-left: 10px;
}

.nav__list {
    margin: 0;
    padding: 0;
    padding-top: 5px;

    list-style-type: none;

    display: flex;
}

.nav__item {
    margin-left: 68px;
}

.nav__link {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.header__menu-link {
    display: none;
}

@media (max-width: 1023px) {
    .header .container {
        padding: 0px 20px 0px 40px;
    }
} 

@media (max-width: 767px) {

    .header__nav {
        display: none;
    }

    .header__menu-link {
        position: relative;
        display: block;

        &:before {
            content: '';
            position: absolute;

            width: 16px;
            height: 19px;

            top: -5px;
            right: 0;

            background-image: url('/img/header__menu.png');
            background-repeat: no-repeat;
        }
        
    }

    
}