.features {
    padding: 110px 0;
}

.features .container {
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}

.features__text-wrapper {
    margin-bottom: 120px;
}

.features__heading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 32px;
    text-align: center;
}

.features__lorem-ipsum {
    margin: 0 auto;
    
    padding: 0;

    width: 760px;

    color: #313841;
    font-size: 20px;
    text-align: center;

}

.features__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;

    list-style-type: none;
}

.features__img-wrapper {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    &::before {
        content: '';
        position: absolute;

        width: 43px;
        height: 43px;

        left: 83px;
        top: 220px;

        background-image: url('/img/logo_black@1x.png');
        background-size: 43px auto;
    }

    &::after {
        content: 'tinyone';
        position: absolute;

        top: 225px;
        right: 82px;

        color: $black; 
        font-size: 30px;
        font-weight: 700;
    }
}


.features__item {
    margin-bottom: 87px;
    box-sizing: border-box;

    width: 310px;

    line-height: 22px;

    &:nth-child(2n+1) {
        align-self: flex-end;
        padding-left: 60px;
    }

    &:nth-child(2n+2) {
        align-self:  flex-start;
        padding-right: 60px;
        
    }
}

.features__title {
    margin-bottom: 15px;

    display: block;

    font-size: 22px;
    font-weight: 700;
}

.features__text {
    display: block;

    font-size: 17px;
    color: #898989;
}

@media (min-resolution: 2dppx) {
    .features__img-wrapper:before {
        background-image: url('/img/logo_black@2x.png');
    }
}

@media (max-width: 1023px) {   

    .features {
        padding-bottom: 40px;
    }

    .features__lorem-ipsum {
        padding: 0 40px;
        box-sizing: border-box;

        width: 100%;
    }

    .features__text-wrapper {
        margin-bottom: 550px;
    }
    
    .features__img-wrapper {
        transform: translate(-50%, -150%);
    }

    .features__list {
        padding: 0 50px;
    }

    .features__item {
        &:nth-child(2n+1) {
            text-align: right;
        }
    }
    
    
}

@media (max-width: 767px) {

    .features {
        padding-bottom: 80px;
    }

    .features__text-wrapper {
        margin-bottom: 55px;
    }

    .features__heading {
        margin-bottom: 20px;
    }

    .features__lorem-ipsum {
        padding: 0 10px;
        margin-bottom: 0px;

        font-size: 17px;
    }

    .features__img-wrapper {
       display: none;
    }

    .features__list {
        padding: 0 35px;
    }

    .features__item {
        margin-bottom: 50px;

        text-align: center;

        &:nth-child(2n+1), &:nth-child(2n+2) {
            padding: 0;
        }
    }
    
}