.footer {
    margin-top: -1px;
    padding: 20px 0 230px 0;

    background-color: #000000;
}

.footer .container {
    padding-left: 15px;

    display: flex;
}

.footer__adress {
    margin: 0;
    margin-right: 90px;
    padding: 0;
    width: 220px;

    color: #ffffff;
}

.footer__adress-data {
    display: block;

    &:first-child {
        text-transform: uppercase;
    }
}

.footer__list {
    margin: 0;
    padding: 0;

    width: 630px;

    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
}

.footer__item {
    margin-right: 80px;
    width: 80px;

    &:nth-child(4n+4) {
        margin-right: 0px;
    }
}

.footer__link {
    color: #ffffff;

    text-decoration: none;
}

@media (max-width: 1023px) {
    .footer {
        padding-bottom: 130px;
    }

    .footer .container {
        padding-left: 40px;
    }

    .footer__item {
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
}

@media (max-width: 767px) {

    .footer {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .footer .container {
        padding: 0 20px;
        flex-direction: column;
    }

    .footer__adress {
        margin-bottom: 30px;
    }
    
    .footer__list {
        width: 100%;

        justify-content: space-between;
    }

    .footer__item {
        margin-bottom: 10px;

        text-align: center;
    }

    .footer__item, .footer__item:nth-child(4n+4) {
        margin-right: 0px;
    }

}