.header {
    background-color: $yellow;
    padding: 65px 0;
}

.header .container {
    padding: 0 10px 0 20px;
    box-sizing: border-box; 

    display: flex;
    align-items: center;
}

.header__icon-menu {
    margin-right: 365px;

    width: 19px;
    height: 20px;

    background-image: url('/img/header__menu.png');
    background-repeat: no-repeat;
}

.header__logo {
    margin-right: auto;
}

.logo__link {
    display: flex;
    align-items: center;

    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.logo__text {
    margin-left: 10px;
}

.social__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
}

.social__link {
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
    }
}

.social__item {
    width: 19px;
    height: 20px;

    &_facebook {
        background-image: url('/img/social_facebook.png');
        background-repeat: no-repeat;
    }

    &_twitter {
        background-image: url('/img/social_twitter.png');
        background-repeat: no-repeat;
    }

    &_google {
        background-image: url('/img/social_google.png');
        background-repeat: no-repeat;
    }

    &_pinterest {
        background-image: url('/img/social_pinterest.png');
        background-repeat: no-repeat;
    }
}

@media (max-width: 1023px) {

    .header .container {
        padding: 0 20px 0 40px;
    }

    .header__icon-menu {
        margin-right: 255px;
    }
    
}

@media (max-width: 767px) {

    .header .container {
        padding: 0 10px 0 20px;

        flex-wrap: wrap;
    }
    
    .header__icon-menu {
        margin-right: 120px;
        padding-bottom: 22px;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .social {
        flex-grow: 1;
        width: 100%;

        padding: 0 20px;
    }

    .social__list {
        justify-content: space-around;
    }
}