.slider {
    margin-top: -1px;

    background-color: $yellow;
}

.slider .container {
    box-sizing: border-box;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    

    transition: 1500ms cubic-bezier(.10, .10, .25, .90);
}

.slider__item {
    padding: 140px 0 105px 0;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider__text {
    margin: 0;
    padding: 0;
}

.slider__heading {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 48px;
    text-align: center;
}

.slider__lorem-ipsum {
    display: block;
    margin-bottom: 30px;

    width: 780px;

    color: #313841;
    font-size: 20px;
    text-align: center;
}

.platforms__list {
    margin: 0;
    padding: 0;

    width: 280px;

    display: flex;
    justify-content: space-between;

    list-style-type: none;    
}

.platforms__item {

    width: 70px;
    height: 70px;

    border: 2px solid $black;
    border-radius: 100px;
    box-sizing: border-box;
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center center;

    &_apple {
        background-image: url('/img/platform_apple@1x.png');
    }

    &_android {
        background-image: url('/img/platform_android@1x.png');
    }

    &_windows {
        background-image: url('/img/platform_windows@1x.png');
    }
}



// Slider buttons styles
.slider__buttons {
    margin: 0;
    padding: 56px 0 53px;

    display: flex;
    justify-content: center;

    list-style-type: none;

    background-color: $yellow;
}


.slider__button {
    width: 13px;
    height: 13px;
    margin-right: 5px;

    position: relative;

    &:last-child {
        margin-right: 0;
    }
}


// Switching standart radio to new
.slider__radio + .radio-indication {
    position: absolute;
    width: 13px;
    height: 13px;

    border-radius: 10px; 
    background-color: $white;
    opacity: 0.6;
    
     cursor: pointer;
}

.slider__radio:focus + .radio-indication {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.slider__radio:checked + .radio-indication {
    opacity: 1;
}


@media (min-resolution: 2dppx) {
    .platforms__item {
        &_apple {
            background-image: url('/img/platform_apple@2x.png');
        }
    
        &_android {
            background-image: url('/img/platform_android@2x.png');
        }
    
        &_windows {
            background-image: url('/img/platform_windows@2x.png');
        }
    }
}

@media (max-width: 1023px) {

    .slider__lorem-ipsum {
        margin-bottom: 50px;
        padding: 0 40px;


        box-sizing: border-box;
        width: 100%;
    }
    
}

@media (max-width: 767px) {

    .slider__item {
        padding: 0;
    }

    .slider__heading {
        margin-bottom: 30px;

        font-size: 32px;
    }

    .slider__lorem-ipsum {
        margin-bottom: 30px;
        padding: 0px;
    }

    .platforms__list {
        margin-bottom: 20px;

        width: 220px;
    }
    

    .platforms__item {

        width: 60px;
        height: 60px;
    
    }

}