.header {
    background-color: $yellow;
    padding: 65px 0;
}

.header .container {
    padding: 0 10px 0 20px;
    box-sizing: border-box; 

    display: flex;
    align-items: center;
}

.header__icon-menu {
    margin-right: 365px;

    width: 19px;
    height: 20px;

    background-image: url('/img/header__menu@1x.png');
    background-repeat: no-repeat;
    background-size: 19px auto;
}

.header__logo {
    margin-right: auto;
}

.logo__link {
    display: flex;
    align-items: center;

    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.logo__text {
    margin-left: 10px;
}

.social__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
}

.social__link {
    display: block;

    width: 100%;
    height: 100%;
}

.social__item {
    width: 19px;
    height: 20px;

    margin-right: 20px;

    background-size: 19px auto;
    background-repeat: no-repeat;

    &:last-child {
        margin-right: 0;
    }

    &_facebook {
        background-image: url('/img/header__social_facebook@1x.png');
    }

    &_twitter {
        background-image: url('/img/header__social_twitter@1x.png');
    }

    &_google {
        background-image: url('/img/header__social_google@1x.png');
    }

    &_pinterest {
        background-image: url('/img/header__social_pinterest@1x.png');
    }
}


.header__nav {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: $yellow;

    top: 50px;
    left: 120px;
}

.nav__list {
    margin: 0;
    padding: 15px 0;
    padding-top: 5px;

    width: 200px;

    list-style-type: none;

    display: flex;
    flex-direction: column;
}

.nav__link {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.nav__item {
    padding: 10px 0;
    margin-right: 0;
    
    text-align: center;
}

@media (min-resolution: 2dppx) {
    .header__icon-menu {
        background-image: url('/img/header__menu@2x.png');
    }

    .social__item {
        &_facebook {
            background-image: url('/img/header__social_facebook@2x.png');
        }
    
        &_twitter {
            background-image: url('/img/header__social_twitter@2x.png');
        }
    
        &_google {
            background-image: url('/img/header__social_google@2x.png');
        }
    
        &_pinterest {
            background-image: url('/img/header__social_pinterest@2x.png');
        }
    }

    .header__nav {
        left: 105px;
    }

    .nav__list {
        width: 150px;
    }
}

@media (max-width: 1023px) {

    .header .container {
        padding: 0 20px 0 40px;
    }

    .header__icon-menu {
        margin-right: 255px;
    }
    
}

@media (max-width: 767px) {

    .header .container {
        padding: 0 10px 0 20px;
        position: relative;

        flex-wrap: wrap;
    }
    
    .header__icon-menu {
        margin-right: 120px;
        padding-bottom: 40px;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .social {
        flex-grow: 1;
        width: 100%;

        padding: 0 20px;
    }

    .social__list {
        justify-content: space-around;
    }

    .header__nav {
        left: 0px;
    }

    .nav__list {
        padding: 20px 0;

        width: 320px;
    }

}