$yellow: #fcdb00;
$white: #ffffff;
$black: #000000;

*{
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.15;
}

.container {
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -2px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 1023px) {

    .container {
        width: 768px;
        padding: 0 24px;
    }
    
}

@media (max-width: 767px) {

    .container {
        width: 320px;
        padding: 0 20px;
    }
    
}